.upper h2 {
    font-size: 24px;
    color: black;
    line-height: 35px;
    font-weight: 200;
    letter-spacing: 0px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
    margin-top: 50px;
}

.upper p {
    font-size: 13px;
    color: black;
    line-height: 22px;
    font-weight: 200;
    letter-spacing: 0px;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
}

.lower {
    margin-top: 20px;
    width: 70%;
    float: right;
}

.lower p {
    font-size: 13px;
    color: black;
    line-height: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.lower em {
    font-size: 13px;
    color: red;
    line-height: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.right h2 {
    font-size: 24px;
    color: black;
    line-height: 35px;
    font-weight: 200;
    letter-spacing: 0px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
    padding-left: 15px;
}

.info {
    margin: 15px;
}

.info a {
    border: 2px solid black;
    border-radius: 35px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    line-height: 22px;
    font-weight: 200;
    letter-spacing: 0px;
    padding: 5px;
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    display: block;
    width: 65%;
}

.btn{
    margin-top: 20px;
}

.icon img {
    width: 100%;

}

.icons {
    margin-top: 5%;

}

#beta {
    opacity: 10%;
    border: 0.8px solid black;
    border-radius: 35px;
    text-decoration: none;
    font-size: 13px;
    color: grey;
    line-height: 22px;
    font-weight: 200;
    letter-spacing: 0.5px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
}

.notif {
    margin-bottom: 20px;
}

.bottomText{
    margin-top: 100px;
    font-size: 25px;
    color: #838383;
    line-height: 22px;
    font-weight: 100;
    letter-spacing: 0.5px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
#mob{
    height: 10%
}

mobile{
    max-width: inherit;
    max-height: inherit;
}

.upper h2 {
    padding-top: 150px;
    font-size: 24px;
    color: black;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
}

.right h2 {
    font-size: 24px;
    color: black;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
    padding-left: 15px;
}

.BlankSpace{
    padding-top: 200px;
    margin-top: 200px;
    min-height: 200px;
    height: 200px;
    line-height: 200px;
}
